* {
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    /* background-color: #202124; */
    /* border-style: dashed; */
}

.main-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 85vh;
    background-color: #202124;
    color: white;
    padding: 5px;
}

.body-left {
    width: 80vw;
    height: 85vh;

}

.bodyleft-top{
    display: flex;
    justify-content: left;
    align-items: center;
    width: auto;
    height: 5vh;
    background-color: gray;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    margin: 5px;
}

.bodyleft-buttom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 80vh;

}

.video-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57vw;
    height: 80vh;
}

.video-right{
    width: 20vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-cam{
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    margin: 10px;
}

.text-name{
    color: white;
    text-align: left;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.body-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
    height: 85vh;
    background-color: white;
    color: black;
    border-radius: 20px;
    margin: 5px;
}

.bodyright-top{
    width: auto;
    height: 5vh;
    padding:5px;
    font-size: 15pt;
}

.bodyright-chat{
    width: auto;
    height: 70vh;
    margin: 5px;
}

.brt-text{
    text-align: left;
    padding: 10px;
}

.brc-text{
    background-color: lightgrey;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    padding: 10px;

}

.brc2-text{
    text-align: left;
    padding: 10px;
}

.bodyright-buttom{
    padding: 10px;
    width: auto;
    height: 5vh;
}

.chat-container{
    width: auto;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgrey;
    border-radius: 5px;
}

.chat-container input[type=text] {
    margin-left: 5px;
    width: 250px;
}

.btn {
    height: 37px;
    width: auto;
    margin-right: 5px;
}

.buttom-body {
    background-color: #202124;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 10vh;
    color: white;
}

.code{
    width: 10vw;
    height: auto;
    margin-left: 20px;
}

.video-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
    height: auto;
}

.gmeet-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10vw;
    height: auto;
    margin-right: 20px;
}

.round-image {
    border-radius: 50%;
    height: 3vh;
    margin: 10px;
}

#main-screen {
    width: 55vw;
    height: auto;
}

#cam {
    width: 19vw;
    height: auto;
    border-radius: 10px;
}

#icon1 {
    width: auto;
    height: 5vh;
    margin: 5px;
}
