/* task3.css */


* {
	color: #5f6368;
	box-sizing: border-box;
	font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
	margin: 0px;
}


.container {
	margin: auto;
	margin-top:200px;
	padding: 48px 40px 36px;
	width: 448px;
	height: 500px;
	justify-content: center;
	border-style: solid;
	border-color: #e0e0e0;
	border-width: 1px;	
	border-radius: 5px;
}

.header {
	text-align: center;
	line-height: 5px;
	font-size: 20px;
}

.body {
	text-align: center;
	line-height: 5px;
	font-size: 20px;
	padding: 24px 0px 0px;

}


#logo {
		width: 75px;
}

#loginhead {
	color: black;
	padding: 16px 0px 0px;
	font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;

}

#loginbody {
	color: black;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
	padding: 8px 0px 0px;

}

.boxemail {
	display: block;
}

.inputemail {
    font-size: 16px;
    height: 54px;
	width: 366px;
    margin: 1px 1px 0 1px;
    padding: 13px 15px;
}

.lupaemail {
    height: 32px;
	width: 368px;
    padding: 9px 0px 3px;
}

#a1:link, #a1:visited, #a1:hover, #a1:active {
	color: #1a73e8;
	background-color: transparent;
	text-decoration: none;
	font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
	font-size: 14px;
	font-weight: 600;
    letter-spacing: .25px;
	}

.bukankomputer {
    height: 52px;
	width: 368px;
    padding: 9px 0px 3px;
	margin-top: 32px;

}

#textbukankomputer {
	font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
}

.bottombutton {
	display: flex;
	text-align: center;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	width: 368px;
	margin-top: 26px;
    padding-bottom: 20px;
}



#a2:link, #a2:visited, #a2:hover, #a2:active {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #1a73e8;
	text-decoration: none;
	font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
	font-size: 14px;
	font-weight: 600;
    letter-spacing: .25px;
	width: 120px;
	height: 35px;
	border-radius: 5px;
	}
	
.footer {
	margin: auto;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 48px;
	width: 448px;

}

.footer1 {
	display: flex;
	text-align: left;
	justify-content: left;
	align-items: center;
	width: 184px;
	height: 48px;
    padding: 8px 8px;

}
.footer2 {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 48px;
    padding: 6px 16px;
}
#a3:link, #a3:visited, #a3:hover, #a3:active {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: transparent;
	text-decoration: none;
	font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
	font-size: 14px;
    letter-spacing: .25px;
}
#a4:link, #a4:visited, #a4:hover, #a4:active {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: transparent;
	text-decoration: none;
	font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
	font-size: 14px;
    letter-spacing: .25px;

	}
